{% extends 'awesome/base.html' %}
{% block title %}
    {{ user.username }}
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-3">Jumbo heading</h1>
                <p class="lead">Jumbo helper text</p>
                <hr class="my-2">
                <p>More info</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg text-decoration-none" href="#" role="button">Jumbo action name</a>
                </p>
            </div>
            <ul>
                {% for account in accounts %}
                    <li>{{account.name}}</li>
            {% empty %}
                
            {% endfor %}
            </ul>
            
        </div>
    </div>
</div>   
{% endblock %}