{% extends 'awesome/base.html' %}
{% block title %}
    {{ user.username }}
{% endblock %}
{% block main %}

    <div class="container border border-dark">
        <div class="row">
            <div class="col-md-4">
                <div class="page-header"><h2>Hello, {{ user.username }}</h2></div>
            </div>
            <div class="col-md-8">
            {% if accounts %}
                {% for account in accounts %}

                    <div class="card border-top-0">
                        <div class="card-body">
                            <h4 class="card-title">{{ account.name }}</h4>
                            <p class="card-text">{{ account.link }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                {% endfor %}

            {% endif %}
        </div>
        </div>

    </div>

    </div>
{% endblock %}