{% extends 'accounts/base.html' %}
{% block title %}
Awesome | Login
{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>
        {% if user.is_authenticated %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Login success!</strong> Hello, {{ user.username }}
            </div>

        {% endif %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form action="{% url 'accounts:log_in' %}" method="post" role="form">
                {% csrf_token %}
                {% if form.username.errors %}
                    <ol>
                    {% for error in form.username.errors %}
                        <li>
                            <strong>{{ error|escape }}</strong>
                        </li>
                    {% endfor %}
                    
                    </ol>
                {% endif %}
                <div class="form-group">
                    <label for="">{{ form.username.label }}</label>
                    {{ form.username}}
                </div>
                {% if form.password.errors %}
                    <ol>
                    {% for error in form.password.errors %}
                        <li>
                            <strong>{{ error|escape }}</strong>
                        </li>
                    {% endfor %}

                    </ol>
                {% endif %}
                <div class="form-group">
                    <label for="">{{ form.password.label }}</label>
                    {{ form.password }}
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}