{% extends 'accounts/base.html' %}
{% block title %}
Awesome | Register
{% endblock %}
{% block css %}
<style>
    .main {
            margin-top: 200px;
        {#padding: 25px;#} box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
        }
    </style>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="main">

                <div class="card">
                    <div class="card-header text-center">
                        <h4>Welcome | Create account</h4>
                    </div>
                    <div class="card-body">


                        <form action="{% url 'accounts:user_create' %}" method="post" role="form">
                            {% csrf_token %}

                            {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="small">{{ field.help_text}}</p>
                                {% endif %}
                                {% if field.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        {{ field.errors|join:","|safe }}
                                    </div>
                                {% endif %}
                            </div>
                            <hr>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}